<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="personas-crear"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Crear personas</span>
  </a>
  <a routerLink="personas-editar"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Editar personas</span>
  </a>
  <a routerLink="componente-apoyo"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Apoyo</span>
  </a>
  <a routerLink="componente-gestionar"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Gestionar Personas</span>
  </a>
  <a routerLink="gestionar-vehiculos"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Gestionar Vehiculos</span>
  </a>

</header>
