<h2>{{ header }}</h2>
<!-- <p>{{ nombre | uppercase }}</p>
<p>{{ apellidos | uppercase }}</p>
<p>{{ tipoIdentificacion | uppercase }}</p> -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="wrapper">

    <div class="form-row">
        <div class="form-group col-md-6">
      <!--  <button type="submit"  (click)=editar()>Click</button>--> 
            <label for="tidentificacion">Tipo de identificación</label>
            <br>
            <select class="form-control" [(ngModel)]="persona.tipoIdentificacion" disabled="{{editar}}" name="tipoIdentificacion"
                ng-init="options[1].value" ng-disabled="true">
                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                <option value="Cedula de ciudadania">Cedula de ciudadania</option>
                <option value="pasaporte">pasaporte</option>
            </select>

        </div>
        <div class="form-group col-md-6">
            <label for="nidentificacion">Numero de identificación</label>
            <input id="nidentificacion" class="form-control" type="text" placeholder="Numero de identificación"
                [(ngModel)]="persona.numeroIdentificacion" name="numeroIdentificacion" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombres</label>
            <input id="nombre" class="form-control" type="text" placeholder="Nombre" [(ngModel)]="persona.nombre"
                name="nombre" />

        </div>
        <div class="form-group col-md-6">

            <label for="apellido">Apellidos</label>
            <input id="apellido" class="form-control" type="text" placeholder="Apellido" [(ngModel)]="persona.apellido"
                name="apellido" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="numeroTelefonico">Número telefónico</label>
            <input id="numeroTelefonico" class="form-control" type="text" placeholder="Numero Telefonico"
                [(ngModel)]="persona.numeroTelefonico" name="numeroTelefonico" />
        </div>
        <div class="form-group col-md-6">

            <label for="edad">Edad</label>
            <input id="fechaNacimiento" class="form-control" type="text" placeholder="Fecha de nacimiento"
                [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" />

        </div>
    </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label>Genero:</label> <br>
      <input type="radio" name="genero" value="hombre"> hombre<br>
      <input type="radio" name="genero" value="female"> mujer<br>
      </div>
      <div class="form-group col-md-6">
        <label>Fecha de nacimiento:</label> <br>
  <!--   <input type="date"  data-date=""  data-date-format="DD-MM-YY"  [(ngModel)]="persona.fechaNacimiento" name="fecha">
--> <!-- pipe fecha actual  -->   <input type="text" name="fecha" value="{{fecha|date:'dd/mm/yy'}}" placeholder="dd/mm/yy" >
      </div>
  </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mayor de edad
                <input type="checkbox" [(ngModel)]="persona.mayorEdad"></label>
        </div>

    </div>
    <div class="form-group col-md-6">
        <label for="roles">roles</label>
        <br>
        <label>comprador<input type="checkbox"></label>
        <label>vendedor<input type="checkbox"></label>
    </div>


</div>
