<h2>{{header}}</h2>
<!-- <p>{{ nombre | uppercase }}</p>
<p>{{ apellidos | uppercase }}</p>
<p>{{ tipoIdentificacion | uppercase }}</p> -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="wrapper">

    <div class="form-row">
        <div class="form-group col-md-6">

            <label for="tidentificacion">Marca</label>
            <br>
            <select class="form-control"  name="marca"
                ng-init="options[1].value">
                <option value="Tarjeta de identidad">marca1</option>
                <option value="Cedula de ciudadania">marca2</option>
            </select>

        </div>
        <div class="form-group col-md-6">
            <label for="tidentificacion">Linea</label>
            <br>
            <select class="form-control"  name="marca"
                ng-init="options[1].value">
                <option value="Tarjeta de identidad">Linea1</option>
                <option value="Cedula de ciudadania">Linea2</option>
            </select>
        </div>
    </div>

    <table border="1">
    <tr>
      <td *ngFor="let columna of columnas"><strong>{{columna|lowercase}}</strong></td>
    </tr>

    <tr>
      <td>Chevrolet </td>
      <td>aveo </td>
      <td>abc123 </td>
      <td>2012 </td>
      <td>rojo </td>
      <td><input type="button" value="editar" routerLink="/editar-vehiculos"  ><input type="button" value="borrar"><input type="button" value="consultar">
 </td>
    </tr>
    </table>
</div>
